@media print {
    #container-header, #container-sidenav, .tableHeaderFilter, .add-link, footer {
        display:none;
    }

    td {
        border-top: 2px solid black;
        font-size: 0.8em;
    }

    th {
        font-size: 1em;
    }
}